<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compat
    ible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seeder</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Template CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/seeder.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="img/favicon.png">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">LoL Seeder</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#application">Application</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://www.volleyball-movies.net/media/upload/tournament_types/121_world_cup.png" alt="">
                    <div class="intro-text">
                        <span class="name">LoL Seeder</span>
                        <hr class="star-light">
                        <span class="skills">Herramienta para hacer seeding automáticamente.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="application">
      <div class="container">
        <div ng-app="seeder" ng-controller="controller as ctrl">
            <div class="col-sm-12">
                <div class="col-sm-6" ng-if="!ctrl.seeKeys">
                    <a class="btn btn-default fa fa-plus" ng-click="ctrl.showKeys()" role="button"> Show Keys</a>
                </div>
                <div class="col-sm-6" ng-if="ctrl.seeKeys">
                    <h2>Keys</h2>
                    <div ng-repeat="key in ctrl.keys track by $index">
                        <input class="col-sm-7" type="text" ng-model="ctrl.keys[$index]">
                        <a class="fa fa-question-circle-o" href="https://developer.riotgames.com/docs/api-keys" ng-if="$index=0">Help</a>
                    </div>
                    <div class="col-sm-12">
                        <a class="btn btn-success fa fa-plus" ng-click="ctrl.addKey()" role="button"> Add Key</a>
                        <a class="btn fa fa-save has-icon btn-primary" ng-click="ctrl.saveKeys()" role="button"> Save</a>
                    </div>
                </div>
                <div class="col-sm-6" class="col-sm-6">
                    <h3>Subir CSV</h3>
                    <input type="file" id="csvIn">
                </div>
            </div>
          <div class="row" ng-if="keys.length != 0">
              <form class="col-sm-6 text-center">
                <p>Teams:</p>
                <textarea class="form-control" ng-model="ctrl.teams" rows="20" ng-change="ctrl.change()"></textarea>
                <a class="btn btn-default" ng-click="ctrl.formatInput()" role="button">Format</a>
                <a class="btn btn-primary" ng-click="ctrl.calculate()" role="button">Calculate</a>
                <a class="btn btn-success" ng-click="ctrl.addTeam()" role="button">Add Team</a>
                <a class="btn btn-danger" ng-click="ctrl.saveTeamsJson()" role="button">Save JSON</a>
              </form>
              <form class="col-sm-6 text-center" ng-if="ctrl.newTeam">
                <p>New Team:</p>
                <label class="col-sm-6 text-right">Team Name:</label>
                <input type="text" ng-model="ctrl.new.name">
                <hr>
                <div ng-repeat="player in ctrl.new.members track by $index">
                    <label class="col-sm-6 text-right">Player #{{$index + 1}}:</label>
                    <input type="text" ng-model="ctrl.new.members[$index]" placeholder="http://www.lolking.net/summoner/euw/22751690">
                </div>
                <div>
                    <a class="btn fa fa-times has-icon btn-default" ng-click="ctrl.cancelNewTeam()" role="button"> Cancel</a>
                    <a class="btn fa fa-plus has-icon btn-success" ng-click="ctrl.addPlayer()" role="button"> Add Player</a>
                    <a class="btn fa fa-save has-icon btn-primary" ng-click="ctrl.saveNewTeam()" role="button"> Save</a>
                </div>
              </form>
              <div class="col-sm-6" ng-if="!ctrl.newTeam">
                <p class="text-center">Results:</p>
                <textarea readonly class="form-control" rows="20">{{ctrl.result | formatJson}}</textarea>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Aplicación para realizar seeding automático del lol. El objetivo es realizar una aplicación en la que puedas crear distintos equipos, almacenarlos en localstorage, y automáticamente realice el seeding según sus rangos.</p>
                    <p>Esta aplicación no se encuentra avalada, respaldada por; ni tiene ningún tipo de relación con Riot Games aparte de la utilización de su API pública.</p>
                </div>
                <div class="col-lg-4">
                    <p>Para esto, utilizo la API oficial de Riot Games, AngularJS y jQuery entre otras tecnologías. Marina es una pesada, espero que esto haga que se estrese un poco menos.</p>
                    <p>This application is in no way supported, endorsed or related by Riot Games; besides the use of their public API.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="https://startbootstrap.com">LOL Seeder</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    <script src="js/controller.js"></script>

</body>

</html>
